*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
     background: #080808;
     color: #fff;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.hero-header{
    width:100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
}
.wrapper{
    width:1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i{
    height: 45px;
    width:45px;
    background-color: #007ced;
    border-radius: 50%;
    color:#fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color:#fff;
}
nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top:45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
nav .togglebtn span{
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width:100%;
    height:3px;
    transition: 0.3s;
    transition-property:  transform, opacity;

}
nav .navlinks{
    list-style-type: none;
    position: sticky;
    top: 0;
}
nav .navlinks li{
    display: inline-block;
}
nav .navlinks li a{
     color:#e5e5e5;
     margin-right: 2.5rem;
}
.container-port{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:4rem;
}
.container-port .hero-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}
.hero-pic img{
    height: 100%;
    width:100%;
    transition: 0.5s;
}
.hero-pic img:hover{
    transform: scale(1.2);
}
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.hero-text h5{
    color:#e5e5e5;
    font-size: 14px;
}
.hero-text h5 span{
    color:#007ced;
    font-size: 16px;
}
.hero-text h1{
    color: #007ced;
    font-size: 3rem;
}
.hero-text p{
    color:#e5e5e5;

}
.btn-groupA{
    margin:45px 0;
}
.btn-groupA .btn-a{
    border-color: #d5d5d5;
    color:#fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0px;
    margin-right:7px;
    border-radius: 30px;
    border:2px solid #e5e5e5;
    box-shadow:  0 10px 10px -8px rgb(0 0 0 / 78%);
}
.btn-a.active{
    border-color: #007ced;
}
.hero-text .social i{
    color: #e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}
.hero-text .social i:hover{
    color:#007ced;
    transform: rotate(360deg);
}
/* Respnosiv design & displaying navbar for small screen */
@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    /* for toggle button**/
    .click {
        top:45px;
    }
    .click span{
        position: absolute;
        margin-top:12px
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2)
    {
        opacity: 0;
        margin:0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top:0;
    }
    nav .navlinks{
        position: absolute;
        top:110px;
        right:-100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open{
        right:0;
    }
}
@media(max-width:768px)
{
    .container-port{
        flex-direction: column;
        padding-top:2rem
        
    }
    .hero-text{
        padding:0px 0px;
    }
}


/*----------------------
#header{
     width: 100%;
     height: 100vh;
     background-image: url(images/vinay-Photoroom.png);
     background-position: center;
}

.container{
     padding: 10px 10%;
}

nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
}

.logo{
     width: 140px;
}

nav ul li{
     display: inline-block;
     list-style: none;
     margin: 10px 20px;
}

nav ul li a{
     color: #fff;
     text-decoration: none;
     font-size: 18px;
     position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}


.header-text{
    margin-top: 20%;
    font-size: 30px;
}


.header-text h3{
    font-size: 30px;
    margin-top: 20px;

}

.header-text h3 span{
    color: #ff004f;
}

/*-----------About---------*/
.container{
    padding: 10px 10%;
}

#about{
     padding: 80px 0;
     color:#ababab;     
}
.row{
    display: flex;
    justify-content: space-between;

}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;

}

.about-col-2{
     flex-basis: 60%;
}

.sub-tittle{
     font-size: 60px;
     font-weight: 600;
     color: #fff;

}

.tab-titles{
     display: flex;
     margin: 20px  0 40px;  
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom:-8px;
    transform: 0.5s;  
}
.tab-links.active-link::after{
     width: 50px;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ff004f;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*----------------------services-----------------*/
    .services{
        padding: 30px 0;
    }

    .services-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        grid-gap: 40px;
        margin-top:50px;
    }

    .services-list div{
        background: #262626;
        padding: 40px;
        font-size: 13px;
        font-weight: 300;
        border-radius: 10px; 
        transition: background 0.5s , transform 0.5s;
    }

    .services-list div i{
        font-size: 50px;
        margin-bottom: 30px;
    }
    .services-list div h2{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .services-list div a{
        text-decoration:none ;
        color:#fff;
        font-size:12px;
        margin-top: 20px;
        display: inline-block;
    }
    .services-list div:hover{
        background: #ff004f;
        transform: translateY(-10px);
    }

   /* ---------------portfolio-----------*/

   #portfolio{
    padding: 50px 0; 
   }
   .work-list{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        grid-gap: 40px;
        margin-top: 50px;
   }
   .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
   }
   .work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition:transform 0.5s;
   }

.layer{
     width: 100%;
     height: 0;
     background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
     border-radius: 10px;
     position: absolute;
     left: 0;
     bottom: 0;
     overflow: hidden;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 0 40px;
     text-align: center;
     font-size: 14px;
     transition:height 5.0ms;

    }

    .layer h3{
        font-weight: 500;
        margin-bottom: 20px;
    }
    .layer a{
        margin-top: 20px;
        color: #ff004f;
        text-decoration:none ;
        font-size: 18px;
        line-height: 60px;
        background: #fff;
        width: 60px;
        height: 60px; 
        border-radius: 50px;
        text-align: center;  
    }
     .work:hover img{
        transform: scale(1.1);
     }
     .work:hover .layer{
        height: 100%;
     }

     .btn{
        display: block;
        margin: 50px auto;
        width: fit-content;
        border: 1px solid #ff004f;
        padding: 14px 50px;
        border-radius: 6px;
        text-decoration: none;
        color: #ababab;
        transition:background 0.5s; 
     }

     .btn:hover{
        background: #ff004f;
     }

/*------------------Contact---------------------------------------------------------*/

.contact-left{
    flex-basis: 35%;

}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color:#ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s ;
}
.social-icons a:hover{
    color: #ff0046;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}

.contact-right form{
    width: 100%;
}
form input,form textarea{
    width:100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn-2{
    padding: 14px 60px;
    font-size:18px;
    margin: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}

nav.fa-regular.fa-solid{
    display: none;
} 

/*------------css for small screen----*/
 
@media only screen and (max-width:600px){
    .sub-tittle{
        font-size: 40px;
    }
  .about-col-1,.about-col-2{
    flex-basis:100%;
  }
  .about-col-1{
    margin-bottom: 30px;
  } 
  
  .contact-left,.contact-right{
    flex-basis: 100%;
  }
}
